<a href="https://colab.research.google.com/github/Jaipalsinghrajput11/Regex-Python-Programming-Assignments/blob/main/Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
company="regex software"
year=2023

In [ ]:
print("hey this is data",year, company)

hey this is data 2023 regex software

In [ ]:
x=10
print(x)

x=20
print(x)

10
20

In [ ]:
print(id(x))

140266916266832

In [ ]:
z=20
y=20
print(id(z))

140266916266832

In [ ]:
print(id(y))

140266916266832

In [ ]:
y=20

In [ ]:
print(id(y))

140266916266832

In [ ]:
z=30
print(id(z))

140266916267152

In [ ]:
print (f"Data is:{company} Year is {year}")

Data is:regex software Year is 2023

In [ ]:
4**3

64

In [ ]:
10+4-2*4/1+9

15.0

In [ ]:
salary = 100
salary *=5

In [ ]:
print(salary)

500

In [ ]:
num=5
num**=4

In [ ]:
print(num)

625

In [ ]:
age=18

if(age>=18):
  print("Age is greater than equal to 18")

elif(age==19):
  print("Age is 19")

else:
  print("Value is  less")

Age is greater than equal to 18

In [ ]:
age=18

if(age==18 or age==19):
  print("Age is equal to 18 or 19")

else:
  print("Value is  less")

Age is equal to 18 or 19

In [ ]:
num1=15
num2=10
num3=30

if num2>num3 :
  if(num1>num2):
    print("num1 is greater than num2")
elif(num2>num1):
    print("num2 is biggest")
else:
    print("num3 is biggest")

num3 is biggest

In [ ]:
x="abc"
print(type(x))

<class 'str'>

In [ ]:
n=0
while n<10:
    if n%2==0 and n%3==0:
        print( n,'is divisible by 6')
    n=n+1

0 is divisible by 6
6 is divisible by 6

In [ ]:
age=18
name= "jaipal"

if(age==18):
  if(name=="jaipal"):
    print("Name is" ,name ,age)
  else:
    print("Name is not jaipal")

Name is jaipal 18

In [ ]:
x=input("Enter a number:")
print(x)

Enter a number:hyy
hyy

In [ ]:
x=int(input("enter a number:"))
print(x,type(x))
if(16 <= x <= 20):
  print("x is between 16 to 20")
else:
  print("x is not between 16 to 20")

enter a number:16
16 <class 'int'>
x is between 16 to 20

In [ ]:
for count in range(1,6,2):
  print(count)

1
3
5

In [ ]:
for count in range(10,25,3):
  if(count%2==0):
    print(count)

10
16
22

In [ ]:
data= "jaipur"
for chr in data:
  print(chr)

j
a
i
p
u
r

In [ ]:
city="Jaipur"

for index in range(0,len(city)):
   print(index, city[index])

0 J
1 a
2 i
3 p
4 u
5 r

In [ ]:
city="Jaipur"

for index in range(0,len(city)):
   if(index%2==0):
    print(index, city[index])

0 J
2 i
4 u

In [ ]:
for count in range(0,10,1):
  if(count%2!=0):
    print(count)

1
3
5
7
9

In [ ]:
for var in range(1,5):

 for count in range(14,16):
    print(count, var)

14 1
15 1
14 2
15 2
14 3
15 3
14 4
15 4

In [ ]:
for rows in range(1,5):

  for column in range(1,rows+1):
    print('*',end=" ")

  print("")

*
* *
* * *
* * * *

In [ ]:
for i in range(4, 0, -1):
    print('*' * i)

****
***
**
*

In [ ]:
for i in range(1, 5):
    print('* ' * i)

*
* *
* * *
* * * *

In [ ]:
for i in range(1, 5):
    for j in range(1, i + 1):
        print(j, end='')
    print()

1
12
123
1234

In [ ]:
for i in range(4, 0, -1):
    for j in range(i, 0, -1):
        print(j, end='')
    print()

4321
321
21
1

In [ ]:
for i in range(4, 0, -1):
    for j in range(1, i + 1):
        print(j, end='')
    print()

1234
123
12
1

In [30]:
num = 1
for i in range(1, 5):
    for j in range(1, i + 1):
        print(num, end='')
        num += 1
    print()

1
23
456
78910

In [ ]:
num = input("Enter an integer: ")

if num.isdigit():
    num = int(num)

    print("Odd numbers between 0 and", num, "are:")
    for i in range(num + 1):
        if i % 2 != 0:
            print(i)
else:
    print("Invalid input. Please enter a valid integer.")

Enter an integer: 11
Odd numbers between 0 and 11 are:
1
3
5
7
9
11

In [ ]:
count = 0

for num in range(0, 101):
    if num > 1:
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            count += 1
print("The number of prime numbers between 0 and 100 is:", count)

The number of prime numbers between 0 and 100 is: 25

In [ ]:
count=1
while(count<3):
  print(count)
  count+=1

1
2

In [ ]:
data="rajasthan"
index=0

while(index < len(data)):
  print(index, data[index])
  index+=1

0 r
1 a
2 j
3 a
4 s
5 t
6 h
7 a
8 n

In [4]:
city="RAJASTHAN"
city[::-1]

'NAHTSAJAR'

In [ ]:
name="saras"
name[::-1]

if(name==name[::-1]):
    print("Its palindrome")
else:
    print("not")

Its palindrome

In [ ]:
#loop conditional
"hey user"
#vowel => a,e,i,o,u

'hey user'

In [ ]:
count=0
for i in range(1,10):
  if(i%2==0):
    count+=1

print("Final count:",count)

Final count: 4

In [ ]:
myList=[10,20,30,"hey",(10,20)]

myList[0:2]=[99,88,77]
myList

[99, 88, 77, 30, 'hey']

In [ ]:
myList[0:8:1]

[10, 20, 30, 'hey']

In [ ]:
myList.append([50,60])
myList

[99, 88, 77, 30, 'hey', [50, 60]]

In [ ]:
myList.extend("hi")
myList

[99, 88, 77, 30, 'hey', [50, 60], 'h', 'i', 'h', 'i']

In [ ]:
myList.extend([100,111])
myList

[99, 88, 77, 30, 'hey', [50, 60], 'h', 'i', 'h', 'i', 100, 111]

In [ ]:
myList.append(123)
myList

[99, 88, 77, 30, 'hey', [50, 60], 'h', 'i', 'h', 'i', 100, 111, 123]

In [ ]:
myList.insert(1,"ABC")
myList

[99,
 'ABC',
 'ABC',
 88,
 77,
 30,
 'hey',
 [50, 60],
 'h',
 'i',
 'h',
 'i',
 100,
 111,
 123]

In [ ]:
myList.pop()

123

In [ ]:
myList.pop()

111

In [ ]:
myList.pop(0)

99

In [ ]:
myList

['ABC', 'ABC', 88, 77, 30, 'hey', [50, 60], 'h', 'i', 'h', 'i', 100]

In [ ]:
myList.pop(0)

'ABC'

In [ ]:
myList

['ABC', 88, 77, 30, 'hey', [50, 60], 'h', 'i', 'h', 'i', 100]

In [ ]:
myList.pop(5)

[50, 60]

In [ ]:
myList

['ABC', 88, 77, 30, 'hey', 'h', 'i', 'h', 'i', 100]

In [ ]:
myList.remove(77)

In [ ]:
myList

['ABC', 88, 30, 'hey', 'h', 'i', 'h', 'i', 100]

In [ ]:
myList.remove('h')

In [ ]:
myList

['ABC', 88, 30, 'hey', 'i', 'h', 'i', 100]

In [ ]:
myList.remove('i')

In [ ]:
del myList[-1]

print(myList)

['ABC', 88, 30, 'hey', 'h', 'i']

help(myList)

In [ ]:
for i in range(0,1):
    print(myList)

['ABC', 88, 30, 'hey', 'h', 'i']

In [ ]:
mylist=[10,20,30,"a"]
newlist=[]
for var in mylist:
  if((type(var)) is int):
    newlist.append(var)

In [ ]:
newlist

[10, 20, 30]

In [ ]:
Alist=[10,20,30,"a","b"]
Blist=[]
Clist=[]
index=0
while(index < len(Alist)):
    index+=1
for var in Alist:
  if(type(var) is int):
    Blist.append(var)
  else:
      Clist.append(var)

In [ ]:
Blist

[10, 20, 30]

In [ ]:
Clist

['a', 'b']

In [ ]:
Alist

[10, 20, 30, 'a', 'b']

In [ ]:
Alist=[10,20,30,"a","b"]
Blist=[]
Clist=[]
index=0
while(index < len(Alist)):
    index+=1
for var in Alist:
  if(type(var) is int):
    Blist.append(var**2)
  else:
    Clist.append(var)

In [ ]:
Blist

[100, 400, 900]

In [ ]:
def is_palindrome(number):
    number_str = str(number)
    for i in range(len(number_str) // 2):
        if number_str[i] != number_str[len(number_str) - i - 1]:
            return False
    return True
num = 12321
if is_palindrome(num):
    print(f"{num} is a palindrome.")
else:
    print(f"{num} is not a palindrome.")

12321 is a palindrome.

In [ ]:
def is_palindrome(input_str):
    input_str = input_str.replace(" ", "").lower()
    length = len(input_str)
    for i in range(length // 2):
        if input_str[i] != input_str[length - i - 1]:
            return False
    return True
input_str = input("Enter a string: ")
if is_palindrome(input_str):
    print(f"{input_str} is a palindrome.")
else:
    print(f"{input_str} is not a palindrome.")

Enter a string: hiih
hiih is a palindrome.

In [ ]:
def count_vowels(input_str):
    vowels = "aeiouAEIOU"
    count = 0
    for char in input_str:
        if char in vowels:
            count += 1
    return count
input_str = input("Enter a string: ")
print(f"The number of vowels in the input is: {count_vowels(input_str)}")

Enter a string: happy
The number of vowels in the input is: 1

In [ ]:
def replace_vowels(input_str):
    vowels = "aeiouAEIOU"
    replaced_str = ""
    for char in input_str:
        if char in vowels:
            replaced_str += "#"
        else:
            replaced_str += char
    return replaced_str
input_str = input("Enter a string: ")
replaced_string = replace_vowels(input_str)
print(f"The replaced string is: {replace_vowels(input_str)}")

Enter a string: hi how are you
The replaced string is: h# h#w #r# y##

In [ ]:
def get_unique_words(input_str):
    if not isinstance(input_str, str):
        return []
    words = input_str.split()
    unique_words = list(set(words))
    return unique_words
input_str = input("Enter a string: ")
unique_words_list = get_unique_words(input_str)
print(f"Unique words in the input: {unique_words_list}")

Enter a string: hi
Unique words in the input: ['hi']

In [ ]:
def replace_vowels_with_numbers(input_str):
    vowels = {'a': '0', 'e': '2', 'i': '3', 'o': '4', 'u': '1'}
    replaced_str = ""
    for char in input_str:
        if char.lower() in vowels:
            replaced_str += vowels[char.lower()]
        else:
            replaced_str += char
    return replaced_str
input_str = input("Enter a string: ")
replaced_string = replace_vowels_with_numbers(input_str)
print(f"The replaced string is: {replaced_string}")

Enter a string: hello world
The replaced string is: h2ll4 w4rld

In [ ]:
data="hey user hey"
data.split(" ")

['hey', 'user', 'hey']

In [ ]:
myTuple=10,20,"hi"

type(myTuple)

tuple

In [ ]:
myTuple=(10,20,"hi")

type(myTuple)

tuple

In [ ]:
myTuple[0]

10

In [ ]:
myTuple.index

In [ ]:
myTuple.count

In [ ]:
for var in myTuple:
    print(var)

10
20
hi

In [ ]:
myTuple=(10,20,"hi")
id(myTuple)

139751229006400

In [ ]:
myTuple=myTuple+(100,200)
print(myTuple)
id(myTuple)

(10, 20, 'hi', 100, 200)

139750875423392

In [ ]:
myDictionary={"id":1, "name":"jaipal", "email":"jai@gmail.com"}
myDictionary

1

In [ ]:
myDictionary["email"]="jaipal@gmail.com"

In [ ]:
myDictionary["email"]

'jaipal@gmail.com'

In [ ]:
myDictionary

{'id': 1, 'name': 'jaipal', 'email': 'jaipal@gmail.com'}

In [ ]:
#insert
myDictionary["phone"]=935255

In [ ]:
myDictionary

{'id': 1, 'name': 'jaipal', 'email': 'jaipal@gmail.com', 'phone': 935255}

In [ ]:
del myDictionary["phone"]

In [ ]:
myDictionary

{'id': 1, 'name': 'jaipal', 'email': 'jaipal@gmail.com'}

In [ ]:
#2nd method
myDictionary.pop("email")

'jaipal@gmail.com'

In [ ]:
myDictionary

{'id': 1, 'name': 'jaipal'}

In [ ]:
myDictionary.popitem()

('name', 'jaipal')

In [ ]:
myDictionary={"id":1, "name":"jaipal", "email":"jai@gmail.com"}
myDictionary

{'id': 1, 'name': 'jaipal', 'email': 'jai@gmail.com'}

In [ ]:
for key in myDictionary:
  print(key ,myDictionary[key])

id 1
name jaipal
email jai@gmail.com

In [ ]:
for x in myDictionary.values():
  print(x)

1
jaipal
jai@gmail.com

In [ ]:
for key,value in myDictionary.items():
   print("Key is:",key, "Value:",value)

Key is: id Value: 1
Key is: name Value: jaipal
Key is: email Value: jai@gmail.com

In [ ]:
myDictionary.items()

dict_items([('id', 1), ('name', 'jaipal'), ('email', 'jai@gmail.com')])

In [ ]:
mytuple=(1,"hi",10)
a,b,c=mytuple
print(a,b,c)
#unpacking the tuple

1 hi 10

In [ ]:
myList=[(20,"age"),(10,"hey")]

myList

[(20, 'age'), (10, 'hey')]

In [ ]:
type(myList[0])

tuple

In [ ]:
dict(myList)

{20: 'age', 10: 'hey'}

In [ ]:
for data in myDictionary.items():
   print(data)
   key,value=data
   print(key ,"value:" ,value)

('id', 1)
id value: 1
('name', 'jaipal')
name value: jaipal
('email', 'jai@gmail.com')
email value: jai@gmail.com

In [ ]:
rows = 4
for i in range(1, rows + 1):
    print(" " * (rows - i) + "* " * i)

   *
  * *
 * * *
* * * *

In [ ]:
rows = 4
for i in range(1, rows + 1):
    print("  " * (rows - i) + "* " * i)

      *
    * *
  * * *
* * * *

OR

In [29]:
for
    white space ke liye
for
    star ke liye

sol:
rows = 4

for i in range(1, rows + 1):
    for j in range(rows - i):
        print("  ", end="")
    for k in range(i):
        print("*", end=" ")
    print()

      *
    * *
  * * *
* * * *

In [16]:
name="saras saras"
name[::-1]

if(name==name[::-1]):
    print("Its palindrome")
else:
    print("not")

Its palindrome

In [38]:
def is_palindrome(input_str):
    input_str = input_str.replace(" ", "").lower()
    length = len(input_str)
    for i in range(length // 2):
        if input_str[i] != input_str[length - i - 1]:
            return False
    return True
input_str = input("Enter a string: ")
if is_palindrome(input_str):
    print(f"{input_str} is a palindrome.")
else:
    print(f"{input_str} is not a palindrome.")

Enter a string: Bird rib
Bird rib is a palindrome.

OR

In [51]:
input_str = input("Enter a string: ")
input_str = input_str.replace(" ", "").lower()
is_palindrome = True
for i in range(len(input_str) // 2):
    if input_str[i] != input_str[len(input_str) - i - 1]:
        is_palindrome = False
        break
if is_palindrome:
    print("Input is a palindrome.")
else:
    print("Input is not a palindrome.")

Enter a string: Bird rib
Input is a palindrome.

In [28]:
input_str = input("Enter a string: ")
vowels = {'a': '0', 'e': '2', 'i': '3', 'o': '4', 'u': '1'}
replaced_str = ""
for char in input_str:
        if char.lower() in vowels:
            replaced_str += vowels[char.lower()]
        else:
            replaced_str += char
print(f"The replaced string is: {replaced_str}")

Enter a string: hi my name is jaipal
The replaced string is: h3 my n0m2 3s j03p0l

In [23]:
input_str = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0
for char in input_str:
        if char in vowels:
            count += 1
print("The number of vowels in the input is:", count)

Enter a string: happy biscuit
The number of vowels in the input is: 4

In [ ]:
input_str = input("Enter a string: ")
vowels = "aeiouAEIOU"
replaced_str = ""
for char in input_str:
        if char in vowels:
            replaced_str += "#"
        else:
            replaced_str += char
print(f"The replaced string is: {replaced_str}")

Enter a string: hiii
The replaced string is: h###

In [52]:
def get_unique_words(input_str):
    if not isinstance(input_str, str):
        return []
    words = input_str.split()
    unique_words = list(set(words))
    return unique_words
input_str = input("Enter a string: ")
unique_words_list = get_unique_words(input_str)
print(f"Unique words in the input: {unique_words_list}")

Enter a string: 10 02 01
Unique words in the input: ['02', '01', '10']

OR

In [26]:
input_str = input("Enter a string: ")
words = input_str.split()
unique_words = list(set(words))
print(f"Unique words in the input: {unique_words}")

Enter a string: 11 11 22 11
Unique words in the input: ['22', '11']

OR

In [27]:
data=input("Enter a string: ")
userlist=data.split()
print(userlist)
list(set(userlist))

Enter a string: 11 10 11
['11', '10', '11']

['10', '11']

In [ ]:
def count_characters(input_string):
    char_count = {}
    for char in input_string:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    return char_count

user_input = input("Enter a string: ")
result = count_characters(user_input)
print(result)

Enter a string: hi my name
{'h': 1, 'i': 1, ' ': 2, 'm': 2, 'y': 1, 'n': 1, 'a': 1, 'e': 1}

In [ ]:
def count_words(input_string):
    word_count = {}
    words = input_string.split()
    for word in words:
        if word in word_count:
            word_count[word] += 1
        else:
            word_count[word] = 1
    return word_count

user_input = input("Enter a string: ")
result = count_words(user_input)
print(result)

Enter a string: hi my name is jai and your name
{'hi': 1, 'my': 1, 'name': 2, 'is': 1, 'jai': 1, 'and': 1, 'your': 1}

Enter a string: hi my name is jai
{'hi': 1, 'my': 1, 'name': 1, 'is': 1, 'jai': 1}

In [ ]:
def count_characters(input_string):
    char_count = {'A-P': 0, 'c-z': 0, '0-9': 0, '@,#,!': 0}

    for char in input_string:
        ascii_val = ord(char)

        if 65 <= ascii_val <= 80:
            char_count['A-P'] += 1
        elif 99 <= ascii_val <= 122:
            char_count['c-z'] += 1
        elif 48 <= ascii_val <= 57:
            char_count['0-9'] += 1
        elif char in ['@', '#', '!']:
            char_count['@,#,!'] += 1

    return char_count

user_input = input("Enter a string: ")
result = count_characters(user_input)
print(result)

Enter a string: Hi, my name is JAI11!
{'A-P': 4, 'c-z': 8, '0-9': 2, '@,#,!': 1}

In [ ]:
def check_conditions(input_string):
    has_range1 = False  # A-P
    has_range2 = False  # c-z
    has_range3 = False  # 0-9
    has_special_char = False  # @,#,!

    for char in input_string:
        ascii_val = ord(char)

        if not has_range1 and (65 <= ascii_val <= 80):
            has_range1 = True
        elif not has_range2 and (99 <= ascii_val <= 122):
            has_range2 = True
        elif not has_range3 and (48 <= ascii_val <= 57):
            has_range3 = True
        elif not has_special_char and (char in ['@', '#', '!']):
            has_special_char = True

        # Break early if all conditions are satisfied
        if has_range1 and has_range2 and has_range3 and has_special_char:
            break

    return has_range1 and has_range2 and has_range3 and has_special_char

user_input = input("Enter a string: ")
conditions_satisfied = check_conditions(user_input)
print("Conditions Satisfied:", conditions_satisfied)

Enter a string: Hi, my name is jai11!
Conditions Satisfied: True

In [ ]:
ord('a')

97

In [ ]:
chr(97)

'a'

In [ ]:
chr(ord('a')+3)

'd'

In [ ]:
user_input = input("Enter a string: ")
has_range1 = False  # A-P
has_range2 = False  # c-z
has_range3 = False  # 0-9
has_special_char = False  # @,#,!
char_count = {'A-P': 0, 'c-z': 0, '0-9': 0, '@,#,!': 0}
for char in user_input:
        ascii_val = ord(char)

        if 65 <= ascii_val <= 80:
            char_count['A-P'] += 1
        elif 99 <= ascii_val <= 122:
            char_count['c-z'] += 1
        elif 48 <= ascii_val <= 57:
            char_count['0-9'] += 1
        elif char in ['@', '#', '!']:
            char_count['@,#,!'] += 1
for char in user_input :
        ascii_val = ord(char)

        if not has_range1 and (65 <= ascii_val <= 80):
            has_range1 = True
        elif not has_range2 and (99 <= ascii_val <= 122):
            has_range2 = True
        elif not has_range3 and (48 <= ascii_val <= 57):
            has_range3 = True
        elif not has_special_char and (char in ['@', '#', '!']):
            has_special_char = True

        if has_range1 and has_range2 and has_range3 and has_special_char:
            print("Conditions Satisfied:", char_count)

Enter a string: hi my name is Jai11!
Conditions Satisfied: {'A-P': 1, 'c-z': 10, '0-9': 2, '@,#,!': 1}

In [ ]:
if(ord("C")>65):
    print("yes")

yes

In [ ]:
myset={12,20,30,10,20,"hey",10}
myset.update("hi")
print(myset)

{'i', 'h', 20, 'hey', 10, 12, 30}

In [ ]:
myset={12,20,30,10,20,"hey",10}
myset.pop()
print(myset)

{'hey', 10, 12, 30}

In [ ]:
myset={12,20,30,10,20,"hey",10}
myset.remove(30)
print(myset)

{20, 'hey', 10, 12}

In [ ]:
myset={12,20,30,10,20,"hey",10}
myset.discard(30)
print(myset)

{20, 'hey', 10, 12}

In [ ]:
myset={12,20,30,10,20,"hey",10}
myset.discard(3000)
print(myset)

{20, 'hey', 10, 12, 30}

In [ ]:
#function declaration
def greeting():
    print("hello user")

In [ ]:
#function call

greeting()

hello user 10

In [ ]:
#variable inside a function => parameter (x)
def greeting(x):
    print("hello user", x)

greeting(x)
#function call => value is argument (10) //agar call kiya ton
greeting(10)
#formal argument / informal parameter

In [ ]:
def greeting(username, lastname):
    print(f"hey user welcome {username} {lastname}")

greeting("JAIPAL", "SINGH")

hey user welcome JAIPAL SINGH

In [ ]:
#local variable => life(only inside function) => life scope of a variable
def addNumber(num):
    num=num+5
    print(num)
addNumber(10)

15

In [ ]:
def print_pattern(n):
    for i in range(1, n+1):
        print('*' * i)
    for i in range(n-1, 0, -1):
        print('*' * i)
print_pattern(4)

*
**
***
****
***
**
*

In [ ]:
def print_empty_square(n):
    for i in range(n):
        if i == 0 or i == n - 1:
            print('* ' * n)
        else:
            print('*' + ' ' * (2 * (n - 2)) + ' *')
print_empty_square(4)

* * * *
*     *
*     *
* * * *

In [ ]:
def print_pattern(n):
    for i in range(1, n+1):
        print(i)
        print('*' * i)
print_pattern(5)

1
*
2
**
3
***
4
****
5
*****

In [ ]:
def print_pattern(n):
    for i in range(1, n+1):
        print(i)
    for i in range(n-1, 0, -1):
        print(i)
print_pattern(4)

1
2
3
4
3
2
1

In [ ]:
def print_pattern(n):
    for i in range(2, n+1):
        print(str(i) + '*' * (i * i))
print_pattern(5)

2****
3*********
4****************
5*************************

In [ ]:
def print_pattern(start, end):
    for i in range(start, end+1):
        print(f"{i}{'*'*(i**2)}")
print_pattern(2, 5)

2****
3*********
4****************
5*************************

In [ ]:
def append_value(arr, value):
    arr.append(value)
    print("Inside the function: ", arr)

my_list = [1, 2, 3]
append_value(my_list, 4)
print("Outside the function: ", my_list)
#Python uses a variation of call by object reference, which behaves like call by value for immutable types and call by reference for mutable types

Inside the function:  [1, 2, 3, 4]
Outside the function:  [1, 2, 3, 4]

In [ ]:
def calculate_sum_of_digits(num):
    while len(num) > 1:
        total = sum(int(digit) for digit in num)
        num = str(total)
    return int(num)

# Take input from the user
input_string = input("Enter a number: ")

# Call the function to calculate the sum of digits
result = calculate_sum_of_digits(input_string)

# Print the final result
print("Final result:", result)

Enter a number: 157
Final result: 4

In [ ]:
'''
Q. x=10,y=10
x is y -> true
x==y -> true
in dono me difference kya hai
'''
#x is y checks if x and y refer to the same object in memory, while x == y checks if x and y have the same value

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

In [ ]:
diff = set1 - set2
print(diff)

{1, 2, 3}

In [ ]:
disjoint = set1.isdisjoint(set2)
print(disjoint)

False

In [ ]:
issubset = set1.issubset(set2)
print(issubset)

False

In [ ]:
issuperset =set1.issuperset(set2)
print(issuperset)

False

In [ ]:
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 3, 6, 7, 8}

In [ ]:
set1.symmetric_difference(set2)
print(set1)

{1, 2, 3, 6, 7, 8}

In [ ]:
def squareNo(x):
    print("hey",x)

In [ ]:
#variable

In [47]:
x=10
print(id(x))

y=x
print(id(y))

140084354384400
140084354384400

In [43]:
def squareNo(num):
  #num =x
    print(num)

x=9
squareNo(x)

9

In [44]:
a=10

b=a

print(b)

10

In [45]:
def squareNo(num):
    print(num*2)

x=9
squareNo(x)

18

In [46]:
def squareNo(num):
    print(num**2)

x=9
squareNo(x)

81

In [48]:
def squareNo(num):
    x= num**2

x=9
squareNo(x)

In [49]:
print(x)

9

In [55]:
def squareNo(num):
    output=num**2
    print(output)
    return "hey"
    #retun None

#function call
functionOutput = squareNo(9)

81

In [56]:
print(functionOutput)

hey

In [58]:
def hello():
  print("jaipal this side")
  return 10
#x=hello
print(hello())

jaipal this side
10

In [63]:
def hello(num):
  print("jaipal this side")
  return num+5
#x=hello
print(hello(100))

jaipal this side
105

In [67]:
a=10
b=20
temp=0

temp=a
a=b
b=temp

print(a,b)

20 10

In [68]:
a=10
b=20

a,b=b,b
print(a)

20

In [98]:
def swapNumber(num1, num2):
  #swap number
  num1,num2=num2,num2
  return num1,num2

num1=10
num2=20

print("Before swap:",num1,num2)
print(swapNumber(10,20))
print("after swap:",num1,num2)

Before swap: 10 20
(20, 20)
after swap: 10 20

In [82]:
def Listadd(myList):
  print(myList, id(myList))
#saara data call by reference hota h in python
list1=[10,20,30]
print("list1:",list1, id(list1))

Listadd(list1)

list1: [10, 20, 30] 140083096130560
[10, 20, 30] 140083096130560

In [83]:
def Listadd(myList):
  print(myList)
#mutable hai toh function ke saath saath uske andar bhi change hoga
list1=[10,20,30]
Listadd(list1)

[10, 20, 30]

In [84]:
def Listadd(myList):
  myList.append("hey")
  print(myList)

list1=[10,20,30]
Listadd(list1)

[10, 20, 30, 'hey']

In [86]:
print(list1)

[10, 20, 30, 'hey']

In [16]:
def ListCheck(mylist):
    if isinstance(mylist, str):
        words = mylist.split()
        if len(words) > 1:
            result = ' '.join(words[:-1])
        else:
            result = ""
    elif isinstance(mylist, int):
         result = mylist * 5
    elif isinstance(mylist, list):
          result = [sublist[1:] for sublist in mylist if len(sublist) > 1]
    else:
          result = None

    return result

In [22]:
input_str = "Hello, how are you doing today?"
output_str = ListCheck(input_str)
print(output_str)

input_int = 10
output_int = ListCheck(input_int)
print(output_int)

input_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
output_list = ListCheck(input_list)
print(output_list)

Hello, how are you doing
50
[[2, 3], [5], [7, 8, 9]]

In [13]:
def find_lcm(a, b):
    max_num = max(a, b)
    lcm = max_num
    while True:
        if lcm % a == 0 and lcm % b == 0:
            break
        lcm += max_num

    return lcm

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
lcm = find_lcm(num1, num2)
print("The LCM of", num1, "and", num2, "is", lcm)

Enter the first number: 2
Enter the second number: 4
The LCM of 2 and 4 is 4

In [14]:
def calculate_lcm(a, b):
    max_num = max(a, b)
    for i in range(max_num, a*b + 1, max_num):
        if i % a == 0 and i % b == 0:
            lcm = i
            break

    return lcm

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
lcm = calculate_lcm(num1, num2)
print("The LCM of", num1, "and", num2, "is", lcm)

Enter the first number: 30
Enter the second number: 40
The LCM of 30 and 40 is 120

In [11]:
def find_hcf(a, b):
    min_num = min(a, b)
    hcf = 1
    for i in range(1, min_num + 1):
        if a % i == 0 and b % i == 0:
            hcf = i

    return hcf

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
hcf = find_hcf(num1, num2)
print("The HCF of", num1, "and", num2, "is", hcf)

Enter the first number: 11
Enter the second number: 22
The HCF of 11 and 22 is 11

In [2]:
#how we pass the argument to the function
def company(id, name, email):
    print(f"hey data is id: {id}, name: {name}, email: {email}")
#required argument (positional argument)
company(10,"jaipal","jaipal@gmail.com")

hey data is id: 10, name: jaipal, email: jaipal@gmail.com

In [5]:
def company(id, name, email):
    print(f"hey data is id: {id}, name: {name}, email: {email}")
#keyword argument
company(name="jaipal", id=10,email="jaipal@gmail.com")

hey data is id: 10, name: jaipal, email: jaipal@gmail.com

In [6]:
def company(id, name, email):
    print(f"hey data is id: {id}, name: {name}, email: {email}")

company(10, name="jaipal",email="jaipal@gmail.com")

hey data is id: 10, name: jaipal, email: jaipal@gmail.com

In [12]:
#default argument => value(declare)
#method 2
def company(id, email="regex@gmail.com",name="regex"):
    print(f"hey data is id: {id}, name: {name}, email: {email}")

company(10,"jaipal","jaipal@gmail.com")

hey data is id: 10, name: jaipal@gmail.com, email: jaipal

In [ ]:
# variable length argument
# hamare according input varible ho toh
# facebook => name, user email, phone, college, university

In [14]:
def info(num, num2):
    print(num, num2)

info(10, 20)

10 20

In [18]:
def info(*var):
    print(var,type(var))
#variable jo apne according jo bhi do accept karle
info(10101,10,"hi",101)

(10101, 10, 'hi', 101) <class 'tuple'>

In [21]:
def info(*var):
    print(var,type(var))
#age, salary, bio, email
info(1001,88,"hi")

(1001, 88, 'hi') <class 'tuple'>

In [26]:
#keyword => variable length argument
def info(**kwargs):
    print(kwargs)
#it will make dictionary
info(age=88,salary=1001,bio="hi")

{'age': 88, 'salary': 1001, 'bio': 'hi'}

In [32]:
# args phale then kwargs
def info(*args, **kwargs):
    print(args)
    print(kwargs)
#isme bhi keywords right hand side me honi chahiye
info(10,"hey",x=88,y=1001)

(10, 'hey')
{'x': 88, 'y': 1001}

In [34]:
# args phale then kwargs
def info(x, *args):
    print("Args", args)
    print("x:", x)
info("hey",88,1001)

Args (88, 1001)
x: hey

In [35]:
def greeting():
    print(" value is 100")

greeting()
#or x()

 value is 100

In [38]:
print(greeting)

<function greeting at 0x7f17afc7dd80>

In [39]:
x=greeting
print(greeting)

<function greeting at 0x7f17afc7dd80>

In [40]:
print(x)

<function greeting at 0x7f17afc7dd80>

In [41]:
x()

 value is 100

In [43]:
def addNo(num):
    num=num+5
    return num
x=addNo(10)
print(x)

15

In [44]:
def addNo(num):
    num=num+5
    return num
num=addNo(10)
print(num)

15